lightning
nltk
tokenizers
torchdata
lightning-bolts
pytorch-ignite
loguru
hydra-core
nnsight
safetensors
pyyaml
wandb
numpy
seaborn
plotly
tqdm
matplotlib
pysbd
transformers
jupyterlab
trl
peft
accelerate
bitsandbytes
datasets
evaluate
sacrebleu